*.rdb
*.rbc
*.sassc
.sass-cache
capybara-*.html
public/uploads/*
.rspec
.rvmrc
.envrc
/.bundle
/vendor/bundle
TODO.tmp
.chdirrc
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_Store
/config/database.yml
/config/env_config.yml
config.codekit
tags
app/assets/javascripts/min/
/documentation.md
.ruby-version
ansible/.vagrant
dragonfly.log
ansible/ansible.img
dump*sql
.vagrant/
